extends layout

block content
  h1= title
  
  if user
    p Welcome back #{user.name} (
      b #{user.is_admin ? "Admin" : (user.is_member ? "Member" : "User")}
      | )!

    if user.is_admin
      p #[strong You are an admin. ] You can create and see all messages including its author and date. You can also delete messages.
    else if user.is_member
      p #[strong You are a club member. ] You can create and see all messages including its author and date.
    else
      p #[strong You are not a club member. ] While you can create messages, you can't see the author and date of messages created by other users.
      p Wanna become a club member? 
        a(href="/jointheclub/" + user._id) Join the club.
    
    p
      a(href="/message-create/" + user._id) Create a new message
    p
      a(href="/logout") Log Out
  else
    p To create a message or become a club member, 
      a(href="/login") Log In.
    p Don't have an account? 
      a(href="/signup") Sign Up!

  h4(style="margin-top: 40px;") Recent Messages
  if user
    if user.is_admin
      ul
        each message in messages
          li(style="margin-bottom: 14px;")
            | #[strong Title: ] #{message.title}
            br
            | #[strong Message: ] "#{message.message_text}"
            div.message-date(style="font-size: 12px; color: #808080;") At #{message.timestamp_formatted} by #{message.user.name}
            |
            a(href="/message-delete/" + message._id) Delete Message
        else
          li There are no messages.
    else if user.is_member
      ul
        each message in messages
          li(style="margin-bottom: 14px;")
            | #[strong Title: ] #{message.title}
            br
            | #[strong Message: ] "#{message.message_text}"
            div.message-date(style="font-size: 12px; color: #808080;") At #{message.timestamp_formatted} by #{message.user.name}
        else
          li There are no messages.
    else
      ul
        each message in messages
          if message.user.username == user.username
            li(style="margin-bottom: 14px;")
              | #[strong Title: ] #{message.title}
              br
              | #[strong Message: ] "#{message.message_text}"
              div.message-date(style="font-size: 12px; color: #808080;") At #{message.timestamp_formatted} by #{message.user.name}
          else
            li(style="margin-bottom: 14px;")
              | #[strong Title: ] #{message.title}
              br
              | #[strong Message: ] "#{message.message_text}"
              div.message-date(style="font-size: 12px; color: #808080;") At SECRET DATE by SECRET USER
        else
          li There are no messages.
  else
    ul
      each message in messages
        li(style="margin-bottom: 14px;")
          | #[strong Title: ] #{message.title}
          br
          | #[strong Message: ] "#{message.message_text}"
          div.message-date(style="font-size: 12px; color: #808080;") At SECRET DATE by SECRET USER
      else
        li There are no messages.